<% layout('/boiler/adminboiler') %>
<div class="container mt-7">
    <div class="card blur shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Creation time</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">User</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let each of logsRaw.docs){ %>
                      <tr>
                        <td>
                            <span class="text-secondary text-xs font-weight-bold"><%= moment(each.createdAt).format("MMMM Do YYYY, h:mm:ss a");%></span>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0"><%= each.owner.username %></p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0"><%= each.action %></p>
                        </td>
                      </tr>
                      <% } %> 
                  </tbody>
                </table>
              </div>
              <nav class="mt-3">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="/admin/logs?page=<%= logsRaw.prevPage %>" aria-label="Previous">
                      <i class="fa fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <% if(logsRaw.prevPage){ %>
                    <li class="page-item"><a class="page-link" href="/admin/logs?page=<%= logsRaw.prevPage %>"><%= logsRaw.prevPage %> </a></li>
                    <% } %> 
                  <li class="page-item"><a class="page-link" href="/admin/logs?page=<%= logsRaw.page %>"><%= logsRaw.page %></a></li>
                  <% if(logsRaw.nextPage){ %>
                    <li class="page-item"><a class="page-link" href="/admin/logs?page=<%= logsRaw.nextPage %>"><%= logsRaw.nextPage %></a></li>
                    <% } %> 
                  <li class="page-item">
                    <a class="page-link" href="/admin/logs?page=<%= logsRaw.nextPage %>" aria-label="Next">
                      <i class="fa fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
    </div>
    
  </div>