<% layout('/boiler/adminboiler') %>
<div class="container mt-7">
  <div class="card blur shadow">
      <div class="card-body">
        <button type="button" class="btn btn-dark bg-gradient-dark" data-bs-toggle="modal" data-bs-target="#usermodal">Add a new user</button>
        <div class="row">
          <div class="table-responsive">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Role</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Creation Time</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <% for(let each of users){ %>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/avatar.png" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs"><%= each.username %></h6>
                          <p class="text-xs text-secondary mb-0"><%= each.email %></p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0"><%= each.role %></p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-secondary text-xs font-weight-bold"><%= moment(each.createdAt).format("MMMM Do YYYY, h:mm:ss a");%></span>
                    </td>
                    <td class="align-middle text-center">
                        <button onclick="deleteUser('<%= each.email %>')"class="btn btn-danger bg-gradient-danger btn-sm mb-0">Delete</button>
                    </td>
                  </tr>
                  <% } %> 
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>
  <div class="modal fade" id="usermodal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form id="userform" class="mb-0" action="/admin/users" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" name="username" id="username" type="text" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" name="email" id="email" type="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" name="password" id="password" type="password" required>
            </div>
            <div class="form-group">
              <label for="role">Role:</label>
              <select class="form-control" name="role" id="role">
                <option value="user">user</option>
                <option value="admin">admin</option>
              </select>
          </div>
            <button type="button" class="btn mb-0 bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit"  class="btn mb-0 btn-dark">Add User</button>
        </form>
        </div>
    </div>
    </div>
    <% if(success && success.length){ %>
        <script>
          Swal.fire({
              icon: 'success',
              title: 'Success!',
              text: '<%= success %>',
            })
        </script>
        <% } %> 
</div>
  <script>
    const deleteUser = async function(email){
      const deletedUser = await axios.post("/admin/userdel",{email});
      window.location.href = window.location.href;
    }
  </script>