<% layout('/boiler/userboiler') %>
<div class="container-fluid mt-7">
    <div class="row flex-row justify-content-between mb-3"> 
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
            <ul class="pagination">
                <% if(requests.hasPrevPage) { %> 
                    <li class="page-item">
                        <a class="page-link" href="/archive?page=<%= requests.prevPage %>" aria-label="Previous">
                          <i class="fa fa-angle-left"></i>
                          <span class="sr-only"></span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="/archive?page=<%= requests.prevPage %>"><%= requests.prevPage %></a></li>
                <% } %> 
                <li class="page-item active"><a class="page-link" href="#"><%= requests.page %></a></li>
                <% if(requests.hasNextPage){ %>
                    <li class="page-item"><a class="page-link" href="/archive?page=<%= requests.nextPage %>"><%= requests.nextPage %></a></li>
                <li class="page-item">
                  <a class="page-link" href="/archive?page=<%= requests.nextPage %>" aria-label="Next">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only"></span>
                  </a>
                </li>
                    <% } %> 
              </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
            <form action="/archive" method="post">
                <input id="searchterm" name="searchTerm" type="text" class="form-control" placeholder="Search">
            </form>
        </div>
    </div>
    <div class="row">
        <% for(let i=0 ; i < requests.docs.length  ; i++){ %>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
                <div class="card blur mb-3 shadow">
                    <div class="card-body">
                        <div style="text-align: center;">
                            <img src="<%= requests.docs[i].image %>" style="max-height: 160px; max-width: 100%;" class="border-radius-lg shadow" alt="">
                        </div>
                            <div class="col d-flex flex-column justify-content-between">
                                <h6 class="mt-2 mb-0" style="font-size: 15px; overflow: hidden; text-overflow: ellipsis ; width: 100%; white-space: nowrap; "><%= requests.docs[i].name %></h6>
                                <p class="mb-2" style="font-size: 9px;">Created by
                                    <%= requests.docs[i].owner.username %> at
                                    <%=  moment(requests.docs[i].createdAt).format("l, LT");%> 
                                </p>
                                    <a class="btn bg-gradient-dark btn-sm mb-0" href="<%= requests.docs[i].link %>" download>Download</a>
                                    <a class="btn bg-gradient-secondary btn-sm mb-0 mt-2" href="/show/<%= requests.docs[i].id %>" target="_blank">Details</a>
                            </div>
                    </div>
                </div>
            </div>
            <% } %> 
    </div>
</div>
<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>