<% layout('/boiler/userboiler') %>
<div class="container mt-7">
  <div class="row mt-8">
    <div class="col-lg-6 d-flex justify-content-center flex-column">
      <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
        <div class="text-center">
          <h3 class="text-gradient text-Dark">Your Download is ready</h3>
        </div>
        <hr>
        <div class="text-center mt-3">
          <h5 class="text-gradient text-Dark">File Name:</h5>
          <p class="mb-0">
              <%= mdata.linkTitle %> 
            </p>
        </div>
        <form id="req-form">
          <div class="card-body pb-2">
              <div class="form-group">
                  <input class="form-control" value="<%= mdata.mlink %> " name="link" id="link" type="text" readonly>
              </div>
              <a id="dlbtn" class="form-control btn bg-gradient-Dark" href="" target="_blank">Download</a>
              <a id="ndlbtn" class="form-control btn btn-secondary d-none" href="/">Request A New Download</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-center flex-column">
      <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
        <img class="border-radius-lg" src="<%= mdata.linkThumb %> " title="<%= mdata.linkTitle %> " alt="">
      </div>
    </div>
  </div>
</div>
<script>
const dlBtn = document.getElementById('dlbtn');
const ndlBtn = document.getElementById('ndlbtn');
const dlFunc = function(){
window.open('/downloads/<%= mdata.realFileName %>', '_blank');
ndlBtn.classList.remove('d-none')
};
dlBtn.addEventListener('click', dlFunc)
</script>