<% layout('/boiler/userboiler') %>
<div class="mt-7">
  <div id="maindiv"  class="container">
    <div class="row">
      <div class="col-lg-7 d-flex justify-content-center flex-column">
        <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
          <div class="text-center">
            <h3 class="text-gradient text-Dark">Downloader</h3>
            <p class="mb-0">
              Please paste the full link to the freepik asset that you are looking for below and press continue:
              <% if(error && error.length){ %>
                <script>
                  Swal.fire({
                      icon: 'error',
                      text: '<%= error %>',
                    })
                </script>
                <% } %> 
            </p>
          </div>
          <form id="req-form" action="/req" method="post"  autocomplete="off">
            <div class="card-body pb-2">
                <div class="form-group">
                    <label for="link" class="form-label d-inline-block">
                        Link:
                    </label>
                    <input class="form-control" name="link" id="link" type="text">
                </div>
                <button id="continuebtn" type="button" class="form-control btn bg-gradient-Dark">Continue</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5 d-flex justify-content-center flex-column">
        <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
          <h4 class="text-gradient text-Dark mb-0 mt-0">Latest downloads:</h4>
          <hr class="mt-2">
          <% for(let each of requests) {%>
            <div class="row">
              <div class="col-8">
                <h6 style="font-size: 14px;"><%= each.name %> </h6>
                <p class="m-0"  style="font-size: 10px;">By: <%= each.owner.username %></p>
                <p class="m-0"  style="font-size: 10px;">Created At: <%= moment(each.createdAt).format("l, LT"); %></p>
              </div>
              <div class="col-4">
                <div class="d-flex flex-row-reverse">
                  <img class="img-fluid border-radius-lg" style="max-height: 100px;" src="<%= each.image %>" alt="">
                </div>
              </div>
              <hr class="mt-2 mb-2">
            </div>
            <% } %> 
        </div>
      </div>
    </div>
  </div>
  <div id="loadingdiv" class="container d-none">
    <div class="row">
      <div class="col-lg-7 d-flex justify-content-center flex-column">
        <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
          <div class="text-center">
            <h3 class="text-gradient text-Dark">Downloading...</h3>
            <p class="mb-0">
              Your file is being downloaded
            </p>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="fingerprint-spinner">
              <div class="spinner-ring"></div>
              <div class="spinner-ring"></div>
              <div class="spinner-ring"></div>
              <div class="spinner-ring"></div>
              <div class="spinner-ring"></div>
              <div class="spinner-ring"></div>
              <div class="spinner-ring"></div>
              <div class="spinner-ring"></div>
              <div class="spinner-ring"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
const continueBtn = document.getElementById('continuebtn');
const continueFunc = function(){
document.getElementById('maindiv').classList.add('d-none');
document.getElementById('loadingdiv').classList.remove('d-none');
const myForm = document.getElementById('req-form');
myForm.submit();
}

continueBtn.addEventListener('click', continueFunc);
</script>

